.header-main{
  background-image: url("http://www.laspositascollege.edu/gv/pdc/assets/images/conference.jpg");
  background-size: cover;
  height: 100vh;
}

.background-overlay{
  background: rgb(15, 22, 45,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

span{
 color: rgb(248, 34, 72);
}

h2{
  color: rgb(14,28,77)
}

.pLine{
  display: inline-block;
  position: relative;
}

.pLine::before {
  content:"";
  position: absolute;
  width: 70px;
  height: 5px;
  background-color: rgb(248, 34, 72);
  top: 2.5em;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.btn-mine{
  border: 1px solid  rgb(248, 34, 72);
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border-radius: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-mine:hover{
  background: rgb(248, 34, 72);
}

.section-bg-blue{
  background-color: rgb(232, 245, 255, .4)
}


.section1-header{
  background-image: url("https://images.pexels.com/photos/1432942/pexels-photo-1432942.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

/* --------------------- SEPEAKERS --------------------- */
.social-links-speakers{
    display: inline-block;
    padding: 8px 0;
    width: 39px;
    height: 39px;
    transition: 0.3s;
  }

  .color-social-speakers{
    color: rgb(201, 33, 63);
  }

  .color-social-speakers:hover {
    color: rgb(14,28,77);
  }

  .padd-carbody-speakers{
    padding-bottom: 2px;
  }

.table-img{
  width: 80px;
  height: 80px;
}

.speakers-img{
  width: 250px;
  height: 250px;
}

/* -------------------SPONSORS------------------- */
.sponsors-img{
  width: 100px;
  height: 100px;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card {
  padding: 15px;
}

.sponsors {
  padding-left: 0;
  padding-right: 0;
}



/* ------------------EVENT VENUE------------------ */
.eventVenue{
  background-image: url("https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
}

.background-overlay-vunue{
  background: rgb(15, 22, 45,.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event-padding{
  padding:60px;
}

.altura{
  height: 130px;
}

.img-fluid{
  padding: 3px;
}

/*---------------------- F.Q.A---------------------- */
.fa-plus-circle{
  color:  rgb(14,28,77);
}

/* -------------------NEWSLEATER------------------- */
.newsletter{
  background-image: url("https://picfiles.alphacoders.com/242/242519.jpg");
  background-size: cover;
}

.newsletter-overlay{
  background: rgb(14,28,77, .7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -.---------------------SCHEDULE-.--------------------- */
.btn-tongle {
  background: rgb(14,28,77);
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border-radius: 50px;
}

.btn-schedule{

  background-color: rgb(14,28,77);
  border-radius: 50px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgb(248, 34, 72);
}

.ulbotones {
  display: flex;
  justify-content: center;
}



.input-circle {
  border-radius: 50px;
}

.contact{
  border-radius: 0px;
}

.btn-solid{
  border: 1px solid  rgb(248, 34, 72);
  background: rgb(248, 34, 72);
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border-radius: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-solid:hover{
  background: rgb(201, 33, 63);
}

.sectionTickets{
  background-color: rgb(232, 245, 255, .3)
}

.disabled{
  color: rgb(154, 154, 154);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 8px;
}

.text-blue{
  color:  rgb(14,28,77);
}

.btn-contact {
  font-size: 1.2em;
}



/* -------------------FOOTER------------------- */

.footer{
 background-color: rgb(3, 9, 25);
}

.fa-angle-right{
 color: rgb(201, 33, 63);
}

.color-links-footer {
  color: rgb(255, 255, 255)
}

.social-links a {
  background-color: #222636;
  border-radius: 50px;
  display: inline-block;
  padding: 8px 0;
  margin-right: 4px;
  width: 39px;
  height: 39px;
  text-align: center;
  transition: 0.3s;
}

.social-links a:hover {
  background-color: rgb(201, 33, 63);
}

.font-size{
  font-size: 16px;
}


/* --------------------------- FOOTER 2 ---------------------------*/
.line-red{
  position: relative;
}

.line-red:before{
  content:"";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(248, 34, 72);
  top: 2.5em;
}

.autor{
  background-color: #0F1521;
}

.copyright{
  font-size: 16px;
}

.designed{
  font-size: 13px;
}

.autor-margin{
  margin: 1px;
}
