<header class="header-main">
  <div class="background-overlay text-white py-5 ">
    <div class="row h-100 text-center container mx-auto">
        <div class="text-center justify-content-center align-self-center mx-auto">
          <h1><strong>THE ANUAL CONFERENCE OF <br> <span>SOFTWARE</span> IN MEXICO</strong></h1>
          <h5 class="my-4">10-12 October, Teatro ITSON, Cd. Obregon Son.</h5>
          <button class="btn-mine" type="button" name="button">About the Softober</button>
        </div>
      </div>
    </div>
</header>

<!-- About the Softober -->
<section class="section1-header">
  <div class="background-overlay text-white py-5 ">
    <div class="row container mx-auto">
        <div class="col-md-6">
          <h3>About the Softober</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quas atque, facere animi saepe quidem, ea quisquam ducimus unde nisi quia inventore eaque libero vero!</p>
        </div>
        <div class="col-md-3">
          <h3>WHERE</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quod!</p>
        </div>
        <div class="col-md-3">
          <h3>WHEN</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quisquam.</p>
        </div>
      </div>
    </div>
</section>

<!-- EVENT SPEAKERS -->
<section class="py-5">
  <div class="container text-center ">
    <h2>EVENT SPEAKERS</h2>
    <p class="pLine">Here are some of our speakers <span class="sr-only">(current)</span> </p>
  </div>

  <div class="container py-4">
    <div class="row justify-content-lg-center text-center">

      <div class="col-lg-4 col-md-6 p-2">
        <div class="card p-0 shadow">
          <img src="https://i.ibb.co/PTnYx9S/apple-tim-cook-coo-640x312.jpg" class="card-img-top" alt="...">
          <div class="card-body padd-carbody-speakers">
            <h5 class="card-title">Tim Cook</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="social-links-speakers text-center d-inline mt-5">
              <a href=""><i class="fab fa-pinterest px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-instagram px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-twitter px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-facebook px-2 color-social-speakers mb-3"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="card p-0 shadow" >
          <img src="https://i.ibb.co/vcB3Qyb/imagen.jpg" class="card-img-top " alt="...">
          <div class="card-body padd-carbody-speakers">
            <h5 class="card-title">Bill Gates</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="social-links-speakers text-center d-inline mt-5">
              <a href=""><i class="fab fa-instagram px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-twitter px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-facebook px-2 color-social-speakers mb-3"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="card p-0 shadow" >
          <img src="https://i.ibb.co/fdnrP2f/Katie-Bouman-2016-X-embed.jpg" class="card-img-top " alt="...">
          <div class="card-body padd-carbody-speakers">
            <h5 class="card-title">Katie Bouman</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="social-links-speakers text-center d-inline mt-5">
              <a href=""><i class="fab fa-instagram px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-twitter px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-facebook px-2 color-social-speakers mb-3"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="card p-0 shadow" >
          <img src="https://i.ibb.co/yhcX9LN/reu-elon-musk-tesla-e1496268149993-640x360.jpg" class="card-img-top " alt="...">
          <div class="card-body padd-carbody-speakers">
            <h5 class="card-title">Eleon Musk</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, elit. Praesentium.</p>
            <div class="social-links-speakers text-center d-inline mt-5">
              <a href=""><i class="fab fa-instagram px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-twitter px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-facebook px-2 color-social-speakers mb-3"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="card p-0 shadow" >
          <img src="https://i.ibb.co/dtFZgPb/Vara-Mayer-Yahoo.jpg" class="card-img-top " alt="...">
          <div class="card-body padd-carbody-speakers">
            <h5 class="card-title">Marissa Mayer</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, elit. Praesentium, inventore.</p>
            <div class="social-links-speakers text-center d-inline">
              <a href=""><i class="fab fa-instagram px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-twitter px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-facebook px-2 color-social-speakers mb-3"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="card p-0 shadow" >
          <img src="https://i.ibb.co/PFy0mHn/zuckerberg-facebook-f8-novedades.jpg" class="card-img-top " alt="...">
          <div class="card-body padd-carbody-speakers">
            <h5 class="card-title">Mark Zuckerberg</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="social-links-speakers text-center d-inline ">
              <a href=""><i class="fab fa-instagram px-2 color-social-speakers mb-3"></i></a>
              <a href=""><i class="fab fa-twitter px-2 color-social-speakers"></i></a>
              <a href=""><i class="fab fa-facebook px-2 color-social-speakers"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- EVENT SCHEDULE -->
<section class="py-5 section-bg-blue">
  <div class="container">

    <div class="text-center">
      <h2>EVENT SCHEDULE</h2>
      <p class="pLine">Here is our event schedule<span class="sr-only">(current)</span> </p>
    </div>

      <div class="container  mt-4">
        <ul class="nav nav-pills mb-3 ulbotones" id="pills-tab" role="tablist">
          <li class="nav-item ">
            <a class="nav-link active btn btn-schedule text-white" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Day 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-schedule text-white" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Day 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-schedule text-white" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Day 3</a>
          </li>
       </ul>
      </div>

    <div class="tab-content mt-4" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container">
          <table class="table mt-3 ulbotones">
            <tbody>
              <tr>
                <th scope="row">09:00 am</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/3YB3wbb/53dbf210eab8ea706b27c635-750-563.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong> Lorem ipsum dolor sit. </strong><em>Sergio Padilla</em></p>
                  <p>Lorem ipsum sdolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row" >10:00 am</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/zJFWRn7/15826058-10103377634440301-4588536596609033984-n-0.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet, consectetur. </strong><em>Mark Zuckerberg </em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">12:00 pm</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/2KrN5M6/488250420.jpg"  class=" rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor. </strong><em>Marissa Mayer</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">13:00 pm</th>
                <td class="d-none d-sm-block" ><img src="https://i.ibb.co/9YNCbtN/bill-gates-at-ted-talks-education.jpg"  class=" rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet. </strong><em>Bill Gates</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">14:00 pm</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/ZXXcbQv/Katie-Bouman-2016-X-embed.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit. </strong><em>Katie Bouman</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">15:00 pm</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/dpR91gK/tim-cook-keynote-100651492-primary-idge.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet.</strong><em>Tim Cook</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, culpa?</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="container">
          <table class="table mt-3 ulbotones">
            <tbody>
              <tr>
                <th scope="row">09:00 am</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/dpR91gK/tim-cook-keynote-100651492-primary-idge.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet.</strong><em>Tim Cook</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, culpa?</p>
                </td>
              </tr>

              <tr>
                <th scope="row">14:00 pm</th>
                <td class="d-none d-sm-block" ><img src="https://i.ibb.co/9YNCbtN/bill-gates-at-ted-talks-education.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet. </strong><em>Bill Gates</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>

              <tr>
                <th scope="row">13:00 pm</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/2KrN5M6/488250420.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor. </strong><em>Marissa Mayer</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>

                <th scope="row" >12:00 am</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/zJFWRn7/15826058-10103377634440301-4588536596609033984-n-0.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet, consectetur. </strong><em>Mark Zuckerberg </em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">15:00 pm</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/ZXXcbQv/Katie-Bouman-2016-X-embed.jpg"  class=" rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit. </strong><em>Katie Bouman</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">11:00 am</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/3YB3wbb/53dbf210eab8ea706b27c635-750-563.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong> Lorem ipsum dolor sit. </strong><em>Sergio Padilla</em></p>
                  <p>Lorem ipsum sdolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="container">
          <table class="table mt-3 ulbotones">
            <tbody>
              <tr>
                <th scope="row">09:00 am</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/ZXXcbQv/Katie-Bouman-2016-X-embed.jpg"  class=" rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit. </strong><em>Katie Bouman</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row" >10:00 am</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/2KrN5M6/488250420.jpg"  class=" rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor. </strong><em>Marissa Mayer</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">11:00 pm</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/zJFWRn7/15826058-10103377634440301-4588536596609033984-n-0.jpg"  class="rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet, consectetur. </strong><em>Mark Zuckerberg </em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>

              </tr>
              <tr>
                <th scope="row">12:00 pm</th>
                <td class="d-none d-sm-block" ><img src="https://i.ibb.co/9YNCbtN/bill-gates-at-ted-talks-education.jpg"  class=" rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet. </strong><em>Bill Gates</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">13:00 pm</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/dpR91gK/tim-cook-keynote-100651492-primary-idge.jpg"  class=" rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong>Lorem ipsum dolor sit amet.</strong><em>Tim Cook</em></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, culpa?</p>
                </td>
              </tr>
              <tr>
                <th scope="row">14:00 am</th>
                <td class="d-none d-sm-block"><img src="https://i.ibb.co/3YB3wbb/53dbf210eab8ea706b27c635-750-563.jpg"  class=" rounded-circle table-img" alt=""></td>
                <td>
                  <p><strong> Lorem ipsum dolor sit. </strong><em>Sergio Padilla</em></p>
                  <p>Lorem ipsum sdolor sit amet, consectetur adipisicing elit. Deleniti, ab?</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- EVENT VENUE -->
<section class="py-5">
  <div class="container text-center">
    <h2>EVENT VENUE</h2>
    <p class="pLine">Event venue info and gallery<span class="sr-only">(current)</span> </p>
  </div>


  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12 p-1">
        <div class="eventVenue">
          <div class="background-overlay-vunue text-white event-padding">
            <h3 class="padding">Downtown Conference Center, New York</h3>
            <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas reprehenderit, enim praesentium. Ullam repellat libero similique, rerum unde est voluptates, maiores rem at tenetur, dolor! In ipsa repellendus adipisci est, quaerat quae laudantium incidunt voluptate atque expedita similique quisquam fugiat? Repudiandae neque praesentium officia rerum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 p-0" >
        <img class="img-fluid" src="https://bootstrapmade.com/demo/themes/TheEvent/img/venue-gallery/1.jpg" alt="">
      </div>
      <div class="col-lg-3 col-md-4 p-0">
        <img class="img-fluid" src="https://bootstrapmade.com/demo/themes/TheEvent/img/venue-gallery/2.jpg" alt="">
      </div>
      <div class="col-lg-3 col-md-4 p-0">
        <img class="img-fluid" src="https://bootstrapmade.com/demo/themes/TheEvent/img/venue-gallery/3.jpg" alt="">
      </div>
      <div class="col-lg-3 col-md-4 p-0">
        <img class="img-fluid" src="https://bootstrapmade.com/demo/themes/TheEvent/img/venue-gallery/4.jpg" alt="">
      </div>

      <div class="col-lg-3 col-md-4 p-0" >
        <img class="img-fluid" src="https://bootstrapmade.com/demo/themes/TheEvent/img/venue-gallery/7.jpg" alt="">
      </div>
      <div class="col-lg-3 col-md-4 p-0">
        <img class="img-fluid" src="https://bootstrapmade.com/demo/themes/TheEvent/img/venue-gallery/8.jpg" alt="">
      </div>
      <div class="col-lg-3 col-md-4 p-0">
        <img class="img-fluid" src="https://bootstrapmade.com/demo/themes/TheEvent/img/venue-gallery/6.jpg" alt="">
      </div>
      <div class="col-lg-3 col-md-4 p-0">
        <img class="img-fluid" src="https://bootstrapmade.com/demo/themes/TheEvent/img/venue-gallery/5.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<!-- SPONSORS -->
<section class="py-5 section-bg-blue">
  <div class="container">
    <div class="text-center ">
      <h2>Sponsors</h2>
      <p class="pLine">Lorem ipsum dolor sit.<span class="sr-only">(current)</span> </p>
    </div>

    <div class="container">
      <div class="row mt-5">
        <div class="col-md-4 col-lg-3 sponsors text-center">
          <div class="card ">
            <div class="card-body zoom">
              <img src="https://image.flaticon.com/icons/svg/888/888863.svg" class="img-fluid sponsors-img" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 sponsors text-center">
          <div class="card ">
            <div class="card-body zoom">
              <img src="https://image.flaticon.com/icons/svg/888/888848.svg" class="img-fluid sponsors-img" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 sponsors text-center">
          <div class="card ">
            <div class="card-body zoom">
              <img src="https://image.flaticon.com/icons/svg/888/888864.svg" class="img-fluid sponsors-img" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 sponsors text-center">
          <div class="card">
            <div class="card-body zoom">
              <img src="https://image.flaticon.com/icons/svg/888/888838.svg" class="img-fluid sponsors-img" alt="">
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 sponsors text-center">
          <div class="card">
            <div class="card-body zoom">
              <img src="https://image.flaticon.com/icons/svg/888/888869.svg" class="img-fluid sponsors-img" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 sponsors text-center">
          <div class="card">
            <div class="card-body zoom">
              <img src="https://image.flaticon.com/icons/svg/888/888841.svg" class="img-fluid sponsors-img" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 sponsors text-center">
          <div class="card">
            <div class="card-body zoom">
              <img src="https://image.flaticon.com/icons/svg/888/888836.svg" class="img-fluid sponsors-img" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 sponsors text-center">
          <div class="card">
            <div class="card-body zoom">
              <img src="https://image.flaticon.com/icons/svg/888/888882.svg" class="img-fluid sponsors-img" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- F.A.Q -->
<section class="py-5 ">
  <div class="container ">

    <div class="text-center ">
      <h2>F.A.Q</h2>
      <p class="pLine">frequent questions<span class="sr-only">(current)</span> </p>
    </div>

    <div class="accordion py-5 seccionQA mx-auto" id="accordionExample">
      <div class="card">
        <div id="headingOne">
          <p class="mb-0">
            <strong> Lorem ipsum dolor sit amet?</strong>
            <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fas fa-plus-circle"></i>
            </button>
          </p>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, minus. Architecto voluptatibus ullam aut accusantium sint vitae ratione nam quo, amet provident. Aut eum quae minus alias rerum non cupiditate.
          </div>
        </div>
      </div>

      <div class="card">
        <div id="headingTwo">
          <p class="mb-0">
            <strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid?</strong>
            <button class="btn btn-link collapsed float-right" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fas fa-plus-circle"></i>
            </button>
          </p>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad fugit at, dolor sint deleniti ut enim eligendi cum tempora minus velit a atque labore, dolorem optio, commodi dignissimos sunt maxime nulla voluptatum inventore mollitia eum consequuntur explicabo facere. Voluptatum laudantium sint, explicabo, vero id alias!
          </div>
        </div>
      </div>
      <div class="card">
        <div  id="headingThree">
          <p class="mb-0">
            <strong>Lorem ipsum dolor sit?</strong>
            <button class="btn btn-link collapsed float-right" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i class="fas fa-plus-circle"></i>
            </button>
          </p>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusamus omnis eligendi. Nemo aperiam corrupti aliquam aliquid impedit repellat ab placeat tenetur eos. Eius nisi voluptates dolor adipisci, saepe quia.
          </div>
        </div>
      </div>

      <div class="card">
        <div id="headingFour">
          <p class="mb-0">
            <strong> Lorem ipsum dolor sit amet?</strong>
            <button class="btn btn-link float-right collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" >
              <i class="fas fa-plus-circle"></i>
            </button>
          </p>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, minus. Architecto voluptatibus ullam aut accusantium sint vitae ratione nam quo, amet provident. Aut eum quae minus alias rerum non cupiditate.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- NEWSLETTER -->
<section >
  <div class="newsletter">
    <div class="newsletter-overlay py-5">
      <div class="text-center text-white">
        <h1 >NEWSLETTER</h1>
        <p class="pLine">Subscribe to receive any notice!<span class="sr-only">(current)</span> </p>
      </div>
        <div class="container">
          <form class="py-3">
            <div class="row justify-content-md-center">
              <div class="col-md-6 mt-3">
                <input type="text" class="form-control input-circle" placeholder="Email" required>
              </div>
              <div class="col-md-3 mt-3">
                <button class="btn-block btn-solid" type="button" name="button" type="submit">Suscribe</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</section>

<!-- BUY TICKETS -->
<section class="py-5 sectionTickets section-bg-blue">
  <div class="container">

    <div class="text-center ">
      <h2>BUY TICKETS</h2>
      <p class="pLine">Lorem ipsum dolor sit amet.<span class="sr-only">(current)</span> </p>
    </div>

    <div class="row justify-content-md-center py-5">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow mt-3">
          <div class="card-body">
            <div class="text-center">
              <p class="disabled">STANDARD ACCESS <span class="sr-only">(current)</span></p>
              <h1>$150</h1>
            </div>
            <hr>
            <ul>
              <li><i class="fas fa-check pr-2"></i>Regular Seating</li>
              <li><i class="fas fa-check pr-2"></i>Coffee Break</li>
              <li><i class="fas fa-check pr-2"></i>Custom Badge</li>
              <li class="disabled"><i class="fas fa-times pr-2"></i>Community Access</li>
              <li class="disabled"><i class="fas fa-times pr-2"></i>Workshop Access</li>
              <li class="disabled"><i class="fas fa-times pr-2"></i>After Party</li>
            </ul>
            <hr>
            <button class="btn-block btn-solid" type="button" name="button">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card shadow mt-3">
          <div class="card-body">
            <div class="text-center">
              <p class="disabled">PRO ACCESS<span class="sr-only">(current)</span></p>
              <h1>$250</h1>
            </div>
            <hr>
            <ul>
              <li><i class="fas fa-check pr-2"></i>Regular Seating</li>
              <li><i class="fas fa-check pr-2"></i>Coffee Break</li>
              <li><i class="fas fa-check pr-2"></i>Custom Badge</li>
              <li><i class="fas fa-check pr-2"></i>Community Access</li>
              <li class="disabled"><i class="fas fa-times pr-2"></i>Workshop Access</li>
              <li class="disabled"><i class="fas fa-times pr-2"></i>After Party</li>
            </ul>
            <hr>
            <button class="btn-block btn-solid" type="button" name="button">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card shadow mt-3">
          <div class="card-body">
            <div class="text-center">
              <p class="disabled">PREMIUM ACCESS<span class="sr-only">(current)</span></p>
              <h1>$350</h1>
            </div>
            <hr>
            <ul>
              <li><i class="fas fa-check pr-2"></i>Regular Seating</li>
              <li><i class="fas fa-check pr-2"></i>Coffee Break</li>
              <li><i class="fas fa-check pr-2"></i>Custom Badge</li>
              <li><i class="fas fa-check pr-2"></i>Community Access</li>
              <li><i class="fas fa-check pr-2"></i>Workshop Access</li>
              <li><i class="fas fa-check pr-2"></i>After Party</li>
            </ul>
            <hr>
            <button class="btn-block btn-solid" type="button" name="button">Buy Now</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT -->
<section class="py-5">
  <div class="container">

    <div class="text-center ">
      <h2>CONTACT US</h2>
      <p class="pLine">Lorem ipsum dolor sit amet.<span class="sr-only">(current)</span> </p>
    </div>


    <div class="row justify-content-md-center text-center py-4">
      <div class="col-lg-4 mt-3">
        <h5 class="text-blue">ADDRESS</h5>
        <h6 class="text-blue">A108 Adam Street, NY 535022, USA</h6>
      </div>
      <div class="col-lg-4 mt-3">
        <h5 class="text-blue">PHONE NUMBER</h5>
        <h6 class="text-blue">+1 5589 55488 55</h6>
      </div>
      <div class="col-lg-4 mt-3">
        <h5 class="text-blue">EMAIL</h5>
        <h6 class="text-blue">info@example.com</h6>
      </div>
    </div>

    <hr>
    <form class="form">
      <div class="row justify-content-md-center text-center">
        <div class="col-lg-6 mt-3">
          <input class="form-control contact" required type="text" name="" value="" placeholder="Enter Name">
        </div>
        <div class="col-lg-6 mt-3">
          <input class="form-control contact" required type="text" name="" value="" placeholder="Enter Email">
        </div>

        <div class="col-lg-12  mt-3">
          <input class="form-control contact" required type="text" name="" value="" placeholder="Subjetc">
        </div>

        <div class="col-lg-12  mt-3">
          <textarea class="form-control contact" required rows="5" placeholder="Message"></textarea>
        </div>

        <div class="col-md-4 mt-3">
          <button class=" btn-solid btn-contact" type="button" name="button" type="submit" >Send Message</button>
        </div>

      </div>
    </form>

  </div>
</section>

<!-- FOOOTER -->
<section class="py-5 footer text-white font-size">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h3>Softober</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dolorem corporis omnis illo dolores dolorum itaque ratione ipsam eligendi sapiente!</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="line-red"><strong>USEFUL THEMES</strong></p>
        <ul>
          <li ><i class="fas fa-angle-right pr-2"></i>Speakers</li>
          <li><i class="fas fa-angle-right pr-2"></i>Event Venue</li>
          <li><i class="fas fa-angle-right pr-2"></i>Sponsors</li>
          <li><i class="fas fa-angle-right pr-2"></i>FQA</li>
          <li><i class="fas fa-angle-right pr-2"></i>Newsleater</li>
          <li><i class="fas fa-angle-right pr-2"></i>Buy Tickets</li>
          <li><i class="fas fa-angle-right pr-2"></i>Contact us</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
       <p class="line-red"><strong>USEFUL THEMES</strong></p>
       <ul>
         <li><i class="fas fa-angle-right pr-2"></i>Speakers</li>
         <li><i class="fas fa-angle-right pr-2"></i>Event Venue</li>
         <li><i class="fas fa-angle-right pr-2"></i>Sponsors</li>
         <li><i class="fas fa-angle-right pr-2"></i>FQA</li>
         <li><i class="fas fa-angle-right pr-2"></i>Newsleater</li>
         <li><i class="fas fa-angle-right pr-2"></i>Buy Tickets</li>
         <li><i class="fas fa-angle-right pr-2"></i>Contact us</li>
       </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="line-red"> <strong>CONTACT US</strong></p>
        <ul>
          <li>A108 Adam Street </li>
          <li>New York, NY 535022</li>
          <li>United States </li>
          <li><strong>Phone:</strong> +1 5589 55488 55</li>
          <li><strong>Email: </strong>info@example.com</li>
        </ul>

        <div class="social-links text-center">
          <a href=""><i class="fab fa-pinterest px-2 color-links-footer"></i></a>
          <a href=""><i class="fab fa-instagram px-2 color-links-footer"></i></a>
          <a href=""><i class="fab fa-twitter px-2 color-links-footer"></i></a>
          <a href=""><i class="fab fa-facebook px-2 color-links-footer"></i></a>
          <a href=""><i class="fab fa-linkedin px-2 color-links-footer"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AUTHOR -->
<section class="autor">
    <div class="text-center py-3 text-white">
      <p class="autor-margin copyright">© Copyright <strong>Softober.</strong> All Rights Reserved</p>
      <p class="autor-margin designed">Designed by <span>BootstrapMade </span>| <span>sergiolpv97@gmail</span></p>
    </div>
</section>
